In [2]:
import pandas as pd
import matplotlib.pyplot as plt

Tictactrip est une plateforme en ligne pour la recherche et la réservation de voyages en Europe, proposant des billets de train, de bus et de covoiturage. Elle permet de comparer les prix et horaires des différents moyens de transport pour le même itinéraire et de réserver son billet directement sur le site.

Le but de ce projet est d'extraire des infos intéressantes type prix min, moyen et max mais durée min, max, moyenne par trajet
ou meme les différence de prix moyen et durée selon le train, le bus et le covoiturage selon la distance du trajet afin d'obtenir une prediction de prix .

In [6]:
df = pd.read_csv("ticket_data.csv")
df1 = pd.read_csv("stations.csv")
df2 = pd.read_csv("providers.csv")
df3 = pd.read_csv("cities.csv")

In [9]:
print(df)
print(df.columns)
print(df.shape )

            id  company  o_station  d_station            departure_ts  \
0      6795025     8385        NaN        NaN  2017-10-13 14:00:00+00
1      6795026        9       63.0     1044.0  2017-10-13 13:05:00+00
2      6795027     8377     5905.0     6495.0  2017-10-13 13:27:00+00
3      6795028     8377     5905.0     6495.0  2017-10-13 13:27:00+00
4      6795029     8381     5905.0     6495.0  2017-10-13 21:46:00+00
...        ...      ...        ...        ...                     ...
74163  6869182       13      279.0    10729.0  2017-10-27 02:30:00+00
74164  6869185        9      279.0      304.0  2017-10-27 07:00:00+00
74165  6869187     8371    10642.0      304.0  2017-10-27 08:30:00+00
74166  6869189       13      279.0      304.0  2017-10-27 13:25:00+00
74167  6869191     8371    10642.0    10729.0  2017-10-27 14:45:00+00

                   arrival_ts  price_in_cents                   search_ts  \
0      2017-10-13 20:10:00+00            4550  2017-10-01 00:13:31.327+00
1      2017-10-14 06:55:00+00            1450  2017-10-01 00:13:35.773+00
2      2017-10-14 21:24:00+00            7400  2017-10-01 00:13:40.212+00
3      2017-10-14 11:02:00+00           13500  2017-10-01 00:13:40.213+00
4      2017-10-14 19:32:00+00            7710  2017-10-01 00:13:40.213+00
...                       ...             ...                         ...
74163  2017-10-27 16:00:00+00            2590  2017-10-19 10:35:42.943+00
74164  2017-10-27 13:30:00+00            2700  2017-10-19 10:35:42.943+00
74165  2017-10-27 15:15:00+00            3000  2017-10-19 10:35:42.943+00
74166  2017-10-27 21:10:00+00            2880  2017-10-19 10:35:42.943+00
74167  2017-10-27 21:40:00+00            2000  2017-10-19 10:35:42.943+00

           middle_stations other_companies  o_city  d_city
0                      NaN             NaN     611     542
1                {149,418}            {13}     611     542
2      {798,798,6794,6246}     {8377,8376}     611     542
3      {798,798,6794,6246}     {8377,8376}     611     542
4              {5983,5983}          {8380}     611     542
...                    ...             ...     ...     ...
74163            {408,408}          {8371}     628     562
74164          {1105,1105}             {9}     628     562
74165          {1105,1105}             {9}     628     562
74166            {863,863}            {13}     628     562
74167            {863,863}          {8371}     628     562

[74168 rows x 12 columns]
Index(['id', 'company', 'o_station', 'd_station', 'departure_ts', 'arrival_ts',
       'price_in_cents', 'search_ts', 'middle_stations', 'other_companies',
       'o_city', 'd_city'],
      dtype='object')
(74168, 12)

Dans *tickets_data* on a 74168 lignes qui representent des billets de train et 12 variables : 

 -*id* : un identifiant unique pour chaque  billet
 
 -*company* : la compagnie de voyage proposant le billet
  
  -*o_station* : station de départ 
  
  -*d_station* : station d'arrivée
  
  -*departure_ts* : heure de départ
  
  -*arrival_t*  : heure d'arrivée 
  
  -*price_in_cents* :  le prix du billet en centimes
  
  -*search_ts* :  l'heure à laquelle la recherche a été effectuée pour cette proposition de billet
  
  -*middle_stations* : une liste de stations intermédiaires entre la station de départ et la station d'arrivée
 
 -*other_companies* : une liste d'autres compagnies de voyage proposant des trajets similaires
 
 -*o_city* : la ville de départ du voyage
 
 -*d_city* : la ville d'arrivée du voyage

In [10]:
print(df.isnull().sum())

id                     0
company                0
o_station          41441
d_station          41441
departure_ts           0
arrival_ts             0
price_in_cents         0
search_ts              0
middle_stations    41441
other_companies    41441
o_city                 0
d_city                 0
dtype: int64

In [14]:
print(df2.isnull().sum())

id                       0
company_id               0
provider_id             14
name                     0
fullname                 0
has_wifi                 3
has_plug                 3
has_adjustable_seats     3
has_bicycle              3
transport_type           0
dtype: int64